<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app.component.css" type ="text/css">
</head>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p class="toolbarText"><i class="fa fa-home" aria-hidden="true"></i> DataMiner Simulation tool</p>
</div>

<br><br><br><br>
<body>
  <!-- Table -->
  <div style="margin-left: 5%; margin-right:5%" overflow="hidden">
    <h1><i class="fa fa-paper-plane" aria-hidden="true"></i> Simulate DataMiner</h1>
    <table id="blobTable">

      <th class="th1">Blob Name</th>
      <th class="th1">TimeFrames captured</th>
      <th width="12%">Destination Element ID </th>
      <th width="12%">Destination DataMiner  </th>
      <th width="12%">Start recording</th>
      <th width="12%">Stop recording</th>

      <tr *ngFor = "let blob of blobMap | keyvalue">
        <td class="blobID"> {{blob.key}} </td>
        <td class="timeFrames"> <li *ngFor = "let value of blob.value"> {{value.toString()}} </li> </td>
        <td> <input class="center-block" type="number" min=0 [(ngModel)]="newEID"> </td>
        <td> <input class="center-block" type="number" min=0 [(ngModel)]="newDMID"> </td>
        <td> <button class="btn" (click)="setInfoAndPost('START', 1)"> <i class="fa fa-play"> </i> </button> </td>
        <td> <button class="btn" (click)="setInfoAndPost('STOP', 1)"> <i class="fa fa-stop"> </i> </button> </td>
      </tr>
    </table>
  </div>

  <br>
  <div class="center">
    <h3 *ngIf="showSent"> Data has been sent </h3>
  </div>

</body>
</html>
